/*no scroll bar*/
::-webkit-scrollbar {width: 0;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: transparent;}
::-webkit-scrollbar-thumb:hover {background: transparent;}




body {
    --padding: 10px;
}
#canvas {
    position: fixed;
    left: var(--padding);
    top: var(--padding);
    width: calc(100% - 2 * var(--padding));
    height: calc(100% - 2 * var(--padding));
    border: 1px solid red;
}
